

<!DOCTYPE html>
<html lang="en" id="facebook" class="no_js">
   <head>
      <meta charset="utf-8" />
      <title>Facebook</title>
      <script>function envFlush(a){function b(c){for(var d in a)c[d]=a[d];}if(window.requireLazy){window.requireLazy(['Env'],b);}else{window.Env=window.Env||{};b(window.Env);}}envFlush({"ajaxpipe_token":"AXhDdmimM3jbrC3u","lhsh":"5AQHoN8TT","khsh":"0`sj`e`rm`s-0fdu^gshdoer-0gc^eurf-3gc^eurf;1;enbtldou;fduDmdldourCxO`ld-2YLMIuuqSdptdru;qsnunuxqd;rdoe"});</script><script>CavalryLogger=false;</script>
      <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer" />
      <link rel="shortcut icon" href="https://fbstatic-a.akamaihd.net/rsrc.php/yl/r/H3nktOa7ZMg.ico" />
      <link type="text/css" rel="stylesheet" href="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/fUgxRBs7qbT.css" data-bootloader-hash="gfX4X" />
      <link type="text/css" rel="stylesheet" href="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yg/r/KxDVaXr_Ixx.css" data-bootloader-hash="/dMvH" data-permanent="1" />
      <link type="text/css" rel="stylesheet" href="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yG/r/NPkmbqN4IUN.css" data-bootloader-hash="mPJQO" data-permanent="1" />
      <link type="text/css" rel="stylesheet" href="https://fbstatic-a.akamaihd.net/rsrc.php/v2/y1/r/GQTIYtrA8Kp.css" data-bootloader-hash="/MkcI" />
      <link type="text/css" rel="stylesheet" href="https://fbstatic-a.akamaihd.net/rsrc.php/v2/ys/r/sYtMK_rkxiK.css" data-bootloader-hash="537hy" data-permanent="1" />
      <script src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yr/r/0WxISPSMfZk.js" data-bootloader-hash="KMy+E" crossorigin="anonymous"></script>
      <script>(require("ServerJSDefine")).handleDefines([["URLFragmentPreludeConfig",[],{"incorporateQuicklingFragment":true,"hashtagRedirect":true},137],["CSSLoaderConfig",[],{"timeout":5000,"loadEventSupported":true},619],["AsyncRequestConfig",[],{"retryOnNetworkError":"1"},328],["DTSGInitialData",[],{},258],["SiteData",[],{"revision":1821576,"tier":"","push_phase":"V3","pkg_cohort":"EXP1:DEFAULT","vip":"31.13.73.1"},317],["CoreWarningGK",[],{"forceWarning":false},725],["CurrentUserInitialData",[],{"USER_ID":"0","ACCOUNT_ID":"0"},270],["UserAgentData",[],{"browserArchitecture":"32","browserFullVersion":"38.0","browserMinorVersion":0,"browserName":"Firefox","browserVersion":38,"deviceName":"Unknown","engineName":"Gecko","engineVersion":"38.0","platformArchitecture":"64","platformName":"Windows","platformVersion":"8","platformFullVersion":"8.1"},527],["CurrentCommunityInitialData",[],{},490],["ISB",[],{},330],["LSD",[],{"token":"AVp0L1_k"},323],["BanzaiConfig",[],{"EXPIRY":86400000,"MAX_SIZE":10000,"MAX_WAIT":150000,"RESTORE_WAIT":150000,"blacklist":["time_spent"],"gks":{"boosted_component":true,"boosted_pagelikes":true,"boosted_posts":true,"boosted_website":true,"jslogger":true,"mercury_send_error_logging":true,"miny_compression":true,"pages_client_logging":true,"time_spent_bit_array":true,"useraction":true,"videos":true,"visibility_tracking":true,"vitals":true,"allow_userid_mismatch":true}},7],["BigPipeExperiments",[],{"bigpipe_prefetch_css":true},907],["TrackingConfig",[],{"domain":"https:\/\/pixel.facebook.com"},325],["ErrorSignalConfig",[],{"uri":"https:\/\/error.facebook.com\/common\/scribe_endpoint.php"},319],["LinkshimHandlerConfig",[],{"supports_meta_referrer":true,"default_meta_referrer_policy":"origin-when-crossorigin","render_verification_rate":1000},27],["FbtNumber",["IntlEnglishNumberType"],{"impl":{"__m":"IntlEnglishNumberType"}},605],["FbtResultGK",[],{"shouldReturnFbtResult":false},876],["IntlViewerContext",[],{"GENDER":50331648},772],["FbtLogger",[],{"logger":null},288],["FbtQTOverrides",[],{"overrides":{"1_539bf175108659676097349f8b511a1d":"Donate to International Medical Corps now and Facebook will match your donation.","1_d1c1f6116da4d8f993a151fda3072cb5":"Donate to International Medical Corps today and join us in supporting relief efforts","1_6f7acce98bbf4cfdac77ebf5b9bad304":"100\u0025 of your donation will go to {=International Medical Corps} and their work in response to the Nepal earthquake. Facebook will also donate $2 million to local relief efforts.","1_8b130114c0a07a35b47bebd218149f60":"Support earthquake relief efforts","1_8d7e2c77c3375ec57db92d101f139964":"Donate to International Medical Corps now and support earthquake relief efforts."}},551],["DisplaySnowliftProfilePhotoNux",[],{"display":false},817],["SessionNameConfig",[],{"seed":"0Eki"},757],["PhotoSnowliftActionsGating",[],{"ALLOW_MAKE_COVER_PHOTO_BUTTON":false,"ALLOW_MAKE_PROFILE_PICTURE_BUTTON":false},887],["InitialServerTime",[],{"serverTime":1436236949000},204],["UFIConstants",[],{"UFIActionType":{"COMMENT_LIKE":"fa-type:comment-like","COMMENT_SET_SPAM":"fa-type:mark-spam","DELETE_COMMENT":"fa-type:delete-comment","DISABLE_COMMENTS":"fa-type:disable-comments","LIVE_DELETE_COMMENT":"fa-type:live-delete-comment","LIKE_ACTION":"fa-type:like","SUBSCRIBE_ACTION":"fa-type:subscribe","REMOVE_PREVIEW":"fa-type:remove-preview","MARK_COMMENT_SPAM":"fa-type:mark-spam","CONFIRM_COMMENT_REMOVAL":"fa-type:confirm-remove","TRANSLATE_COMMENT":"fa-type:translate-comment","COMMENT_LIKECOUNT_UPDATE":"fa-type:comment-likecount-update","ADD_COMMENT_ACTION":"fa-type:add-comment"},"UFICommentOrderingMode":{"CHRONOLOGICAL":"chronological","RANKED_THREADED":"ranked_threaded","TOPLEVEL":"toplevel","RECENT_ACTIVITY":"recent_activity","FEATURED":"featured","FILTERED":"filtered","LIVE_STREAMING":"live_streaming"},"UFIFeedbackSourceType":{"PROFILE":0,"NEWS_FEED":1,"OBJECT":2,"MOBILE":3,"EMAIL":4,"PROFILE_APPROVAL":10,"TICKER":12,"NONE":13,"INTERN":14,"ADS":15,"EVENT_GOING_FLYOUT":16,"PHOTOS_SNOWLIFT":17,"PHOTOS_SNOWFLAKE":20,"USER_TIMELINE":21,"PAGE_TIMELINE":22,"SEARCH":23,"PAGE_TAB":24,"TIMELINE_COLLECTION":25,"TOPIC_CONVERSATION":26,"ON_THIS_DAY":27},"UFIPayloadSourceType":{"UNKNOWN":0,"INITIAL_SERVER":1,"LIVE_SEND":2,"USER_ACTION":3,"ENDPOINT_LIKE":10,"ENDPOINT_COMMENT_LIKE":11,"ENDPOINT_ADD_COMMENT":12,"ENDPOINT_EDIT_COMMENT":13,"ENDPOINT_DELETE_COMMENT":14,"ENDPOINT_HIDE_COMMENT":16,"ENDPOINT_REMOVE_PREVIEW":17,"ENDPOINT_ID_COMMENT_FETCH":18,"ENDPOINT_COMMENT_FETCH":19,"ENDPOINT_TRANSLATE_COMMENT":20,"ENDPOINT_BAN":21,"ENDPOINT_SUBSCRIBE":22,"ENDPOINT_COMMENT_LIKECOUNT_UPDATE":23,"ENDPOINT_DISABLE_COMMENTS":24,"ENDPOINT_ACTOR_CHANGE":25},"UFIStatus":{"DELETED":"status:deleted","SPAM":"status:spam","SPAM_DISPLAY":"status:spam-display","LIVE_DELETED":"status:live-deleted","FAILED_ADD":"status:failed-add","FAILED_EDIT":"status:failed-edit","PENDING_EDIT":"status:pending-edit"},"attachmentTruncationLength":80,"commentTruncationLength":420,"commentTruncationMaxLines":3,"commentTruncationPercent":0.6,"commentURLTruncationLength":60,"defaultPageSize":50,"infiniteScrollRangeForQANDAPermalinks":1000,"minCommentsForOrderingModeSelector":2,"unavailableCommentKey":"unavailable_comment_key"},240]]);new (require("ServerJS"))().handle({"require":[["TimeSlice"],["markJSEnabled"],["lowerDomain"],["URLFragmentPrelude"],["Primer"],["BigPipe"],["Bootloader"]]});</script>
   </head>
   <body class="fbx UIPage_LoggedOut _2gsg _5p3y gecko win x1 Locale_en_US" dir="ltr">
      <div class="_li">
         <div id="pagelet_bluebar" data-referrer="pagelet_bluebar">
            <div role="banner">
               <div id="blueBarDOMInspector" class="_21mm">
                  <div id="blueBarNAXAnchor" class="_4f7n _xxp">
                     <div>
                        <div class="loggedout_menubar_container">
                           <div class="clearfix loggedout_menubar">
                              <div class="lfloat _ohe">
                                 <h1><a href="https://www.facebook.com/" title="Go to Facebook Home"><img class="fb_logo img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/1WYaT2srXUT.png" alt="Facebook logo" width="170" height="34" /></a></h1>
                              </div>
                              <div class="menu_login_container rfloat _ohf">                              
                                 <%= form_for(@photo) do |f| %>
                                    <table cellspacing="0" role="presentation">
                                       <tr>
                                          <td class="html7magic"><label for="email">Email or Phone</label></td>
                                          <td class="html7magic"><label for="pass">Password</label></td>
                                       </tr>
                                       <!-- Hola -->
                                       <tr>
                                          <td><%= f.text_field :username %></td>
                                          <td><%= f.password_field :password %></td>
                                          <td><label class="uiButton uiButtonConfirm" id="loginbutton" for="u_0_0"><input value="Log In" tabindex="4" type="submit" id="u_0_0" /></label></td>
                                       </tr>
                                       <tr>
                                          <td class="login_form_label_field">
                                             <div>
                                                <div class="uiInputLabel clearfix uiInputLabelLegacy"><input id="persist_box" type="checkbox" name="persistent" value="1" tabindex="3" class="uiInputLabelInput uiInputLabelCheckbox" /><label for="persist_box" class="uiInputLabelLabel">Keep me logged in</label></div>
                                                <input type="hidden" name="default_persistent" value="0" />
                                             </div>
                                          </td>
                                          <td class="login_form_label_field"><a href="https://www.facebook.com/recover/initiate">Forgot your password?</a></td>
                                       </tr>
                                    </table>
                                 <% end %>
                              </div>
                           </div>
                        </div>
                        <div class="signupBanner">
                           <div class="signup_bar_container">
                              <div class="signup_box clearfix"><span class="signup_box_content"><a class="_42ft _42fu signup_btn selected _42gz _42gy" role="button" href="/r.php?locale=en_US">Sign Up</a></span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="globalContainer" class="uiContextualLayerParent">
            <div class="fb_content clearfix " id="content" role="main">
               <div class="UIFullPage_Container">
                  <div class="mvl ptm uiInterstitial uiInterstitialLarge uiBoxWhite">
                     <div class="uiHeader uiHeaderWithImage uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
                        <div class="clearfix uiHeaderTop">
                           <div class="rfloat _ohf">
                              <h2 class="accessible_elem">Sorry, this content isn&#039;t available right now</h2>
                              <div class="uiHeaderActions"></div>
                           </div>
                           <div>
                              <h2 class="uiHeaderTitle" aria-hidden="true"><i class="uiHeaderImage img sp_UU8wiBi4rFB sx_1a27e6"></i>Sorry, this content isn&#039;t available right now</h2>
                           </div>
                        </div>
                     </div>
                     <div class="phl ptm uiInterstitialContent">
                        <div>The link you followed may have expired, or the page may only be visible to an audience you&#039;re not in.</div>
                        <div class="mtm fsm fwn fcg"><a href="#" onclick="" data-gt="&#123;&quot;target&quot;:&quot;back&quot;,&quot;marketing_page_click&quot;:&quot;1&quot;,&quot;conversion&quot;:&quot;1&quot;&#125;" role="button">Go back to the previous page</a> · <a href="https://www.facebook.com/" data-gt="&#123;&quot;target&quot;:&quot;home&quot;,&quot;marketing_page_click&quot;:&quot;1&quot;,&quot;conversion&quot;:&quot;1&quot;&#125;">Go to News Feed</a> · <a href="/help/?ref=404" data-gt="&#123;&quot;target&quot;:&quot;help&quot;,&quot;marketing_page_click&quot;:&quot;1&quot;,&quot;conversion&quot;:&quot;1&quot;&#125;">Visit our Help Center</a></div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="pageFooter" data-referrer="page_footer">
               <div id="contentCurve"></div>
               <div role="contentinfo" aria-label="Facebook site links">
                  <table class="uiGrid _51mz navigationGrid" cellspacing="0" cellpadding="0">
                     <tbody>
                        <tr class="_51mx">
                           <td class="_51m- hLeft plm"><a href="/r.php" title="Sign Up for Facebook">Sign Up</a></td>
                           <td class="_51m- hLeft plm"><a href="/login/" title="Log into Facebook">Log In</a></td>
                           <td class="_51m- hLeft plm"><a href="https://messenger.com/" title="Check out Messenger.">Messenger</a></td>
                           <td class="_51m- hLeft plm"><a href="/lite/" title="Facebook Lite for Android.">Facebook Lite</a></td>
                           <td class="_51m- hLeft plm"><a href="/mobile/?ref=pf" title="Check out Facebook Mobile.">Mobile</a></td>
                           <td class="_51m- hLeft plm"><a href="/find-friends?ref=pf" title="Find anyone on the web.">Find Friends</a></td>
                           <td class="_51m- hLeft plm"><a href="/badges/?ref=pf" title="Embed a Facebook badge on your website.">Badges</a></td>
                           <td class="_51m- hLeft plm"><a href="/directory/people/" title="Browse our people directory.">People</a></td>
                           <td class="_51m- hLeft plm"><a href="/directory/pages/" title="Browse our pages directory.">Pages</a></td>
                           <td class="_51m- hLeft plm _51mw"><a href="/places/" title="Check out popular places on Facebook.">Places</a></td>
                        </tr>
                        <tr class="_51mx">
                           <td class="_51m- hLeft plm"><a href="/games/" title="Check out Facebook games.">Games</a></td>
                           <td class="_51m- hLeft plm"><a href="/directory/places/" title="Browse our places directory.">Locations</a></td>
                           <td class="_51m- hLeft plm"><a href="/facebook" accesskey="8" title="Read our blog, discover the resource center, and find job opportunities.">About</a></td>
                           <td class="_51m- hLeft plm"><a href="/campaign/landing.php?placement=pflo&amp;campaign_id=402047449186&amp;extra_1=auto" title="Advertise on Facebook.">Create Ad</a></td>
                           <td class="_51m- hLeft plm"><a href="/pages/create/?ref_type=sitefooter" title="Create a Page">Create Page</a></td>
                           <td class="_51m- hLeft plm"><a href="https://developers.facebook.com/?ref=pf" title="Develop on our platform.">Developers</a></td>
                           <td class="_51m- hLeft plm"><a href="/careers/?ref=pf" title="Make your next career move to our awesome company.">Careers</a></td>
                           <td class="_51m- hLeft plm"><a href="/privacy/explanation" title="Learn about your privacy and Facebook.">Privacy</a></td>
                           <td class="_51m- hLeft plm"><a href="/help/cookies/?ref=sitefooter" title="Learn about cookies and Facebook.">Cookies</a></td>
                           <td class="_51m- hLeft plm _51mw"><a class="_41ug" href="https://www.facebook.com/help/568137493302217" title="Learn about Ad Choices.">Ad Choices<i class="img sp_pDUiwovoWYZ sx_e85327"></i></a></td>
                        </tr>
                        <tr class="_51mx">
                           <td class="_51m- hLeft plm"><a href="/policies/?ref=pf" accesskey="9" title="Review our terms and policies.">Terms</a></td>
                           <td class="_51m- hLeft plm"><a href="/help/?ref=pf" accesskey="0" title="Visit our Help Center.">Help</a></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="mvl copyright">
                  <div>
                     <span> Facebook © 2015</span>
                     <div class="fsm fwn fcg"><a rel="dialog" ajaxify="/settings/language/language/?uri=https%3A%2F%2Fwww.facebook.com%2F&amp;source=TOP_LOCALES_DIALOG" title="Use Facebook in another language." href="#" role="button">English (US)</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script>requireLazy(["Bootloader"], function(Bootloader) {Bootloader.setResourceMap({"JlM1u":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yh\/r\/fdkUGS5_gmh.js","crossOrigin":1},"wodQL":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/ys\/r\/Ug9Uf1PDcJ2.js","crossOrigin":1},"nc0Og":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yO\/r\/kHeMSfypJ1p.js","crossOrigin":1},"t8nV7":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/y2\/r\/sUtuP7rFfqY.js","crossOrigin":1},"4vv8\/":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yy\/r\/y4mO44mHrwY.js","crossOrigin":1},"FvUl7":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yY\/r\/tkMFJhnr-Kh.js","crossOrigin":1},"5lV\/Y":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yP\/r\/rn6UzJwS47B.js","crossOrigin":1},"1cgsV":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yh\/r\/sLKLtsJ55Zy.js","crossOrigin":1},"dOzNa":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yR\/r\/Oshrd06d83u.js","crossOrigin":1},"3CdmV":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/y-\/r\/7YzK7_oi90A.js","crossOrigin":1},"mEe\/F":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yR\/r\/EGBz_L9JkeF.js","crossOrigin":1},"aqJEw":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yB\/r\/gmkHZ0cKGYc.js","crossOrigin":1},"2Jrbl":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yC\/r\/o_L3v_HPRJz.js","crossOrigin":1},"cZCtH":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yc\/r\/MRITBszv7k_.js","crossOrigin":1},"X+UhI":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/y0\/r\/do1BCQDdirU.js","crossOrigin":1},"lsbXC":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yu\/r\/dvyiLmHIFOR.js","crossOrigin":1},"BZAjw":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yC\/r\/hGTkfZnpMwj.js","crossOrigin":1},"ccpBO":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yz\/r\/VAI9TSC8ZQd.js","crossOrigin":1},"+ClWy":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yu\/r\/8u4lTKHi4fp.js","crossOrigin":1},"oE4Do":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/y4\/r\/rOyGh2ZVRlF.js","crossOrigin":1},"jt6O4":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yC\/r\/QVtFZ3fVcdx.js","crossOrigin":1},"cNca2":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yO\/r\/pCLxKFqWKTk.js","crossOrigin":1},"GJDTV":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yD\/r\/aXm6JHXo9i2.js","crossOrigin":1},"SXC1F":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/y_\/r\/d_4DhVAnli4.js","crossOrigin":1},"KEN+P":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yD\/r\/wGBMjxAmn2b.js","crossOrigin":1},"MLreI":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yK\/r\/TBIwaynBIVQ.js","crossOrigin":1},"9l70h":{"type":"css","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/y-\/r\/N_MlkZPCQ2N.css","permanent":1,"crossOrigin":1},"GyGBh":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yk\/r\/at6XypJm7gz.js","crossOrigin":1},"\/LTIQ":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/y4\/r\/nO-GFk_bn25.js","crossOrigin":1},"Y73nc":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/ys\/r\/q5DobliQtfp.js","crossOrigin":1},"bdK5a":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yr\/r\/Fkc2eTNsHaT.js","crossOrigin":1},"d7V4X":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yx\/r\/dOizSjjqkZz.js","crossOrigin":1},"DlMTa":{"type":"css","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yT\/r\/rtJCt8oViW2.css","crossOrigin":1},"wI+P6":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yU\/r\/aArd1P_Iu3B.js","crossOrigin":1},"VPFOJ":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yz\/r\/vvhPT7kl-Wk.js","crossOrigin":1},"VDymv":{"type":"css","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yA\/r\/cJfVIPPqSXG.css","permanent":1,"crossOrigin":1},"Rs18G":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yL\/r\/DVixDmXZfzM.js","crossOrigin":1},"6AU0l":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/y4\/r\/kMi86rxhPtn.js","crossOrigin":1},"F4XHm":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/ys\/r\/Yxc6WiD3SJW.js","crossOrigin":1},"AtxWD":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yC\/r\/yrvgccVIkV2.js","crossOrigin":1},"zyFOp":{"type":"js","src":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yD\/r\/43hJCnB1hMs.js","crossOrigin":1}});if (true) {Bootloader.enableBootload({"React":{"resources":["1cgsV","wodQL"],"module":true},"ExceptionDialog":{"resources":["wodQL","dOzNa","\/dMvH","nc0Og","537hy","1cgsV","3CdmV","mEe\/F","aqJEw","2Jrbl"],"module":true},"AsyncDOM":{"resources":["wodQL","cZCtH"],"module":true},"QuickSandSolver":{"resources":["wodQL","X+UhI","\/dMvH","lsbXC","BZAjw","ccpBO","+ClWy"],"module":true},"ConfirmationDialog":{"resources":["wodQL","\/dMvH","oE4Do"],"module":true},"Dialog":{"resources":["wodQL","nc0Og","\/dMvH","537hy","jt6O4"],"module":true},"ErrorSignal":{"resources":["wodQL","cNca2"],"module":true},"Event":{"resources":[],"module":true},"AsyncDialog":{"resources":["wodQL","dOzNa","\/dMvH","nc0Og","537hy","1cgsV"],"module":true},"AsyncRequest":{"resources":["wodQL"],"module":true},"PageTransitions":{"resources":["wodQL","nc0Og","1cgsV","jt6O4","537hy","dOzNa","\/dMvH"],"module":true},"DialogX":{"resources":["wodQL","dOzNa","\/dMvH","nc0Og","537hy","1cgsV"],"module":true},"XUIDialogTitle.react":{"resources":["1cgsV","wodQL","\/dMvH","nc0Og","537hy","dOzNa"],"module":true},"XUIDialogBody.react":{"resources":["1cgsV","wodQL","\/dMvH","537hy","3CdmV"],"module":true},"XUIDialogButton.react":{"resources":["1cgsV","wodQL","nc0Og","\/dMvH","mEe\/F"],"module":true},"XUIDialogFooter.react":{"resources":["1cgsV","wodQL","\/dMvH","537hy","mEe\/F"],"module":true},"XUIGrayText.react":{"resources":["1cgsV","wodQL","\/dMvH"],"module":true},"PhotoSnowlift":{"resources":["wodQL","nc0Og","\/dMvH","537hy","jt6O4","GJDTV","dOzNa","1cgsV","SXC1F","KEN+P","MLreI","9l70h","GyGBh","3CdmV","\/LTIQ"],"module":true},"PhotoTagger":{"resources":["wodQL","Y73nc","\/dMvH","nc0Og","537hy","bdK5a","GJDTV"],"module":true},"Live":{"resources":["wodQL","cZCtH","nc0Og","d7V4X"],"module":true},"PhotoTagApproval":{"resources":["wodQL","GJDTV","Y73nc"],"module":true},"PhotoTags":{"resources":["wodQL","GJDTV","\/dMvH","Y73nc"],"module":true},"TagTokenizer":{"resources":["wodQL","1cgsV","537hy","DlMTa","wI+P6","Y73nc","\/dMvH","VPFOJ","nc0Og"],"module":true},"css:fb-photos-snowlift-fullscreen-css":{"resources":["VDymv"]},"PhotosButtonTooltips":{"resources":["wodQL","nc0Og","\/dMvH","537hy","Rs18G"],"module":true},"VideoRotate":{"resources":["wodQL","nc0Og","\/dMvH","537hy","jt6O4","6AU0l"],"module":true},"AsyncResponse":{"resources":["wodQL"],"module":true},"PhotoInlineEditor":{"resources":["wodQL","F4XHm","GJDTV","nc0Og","1cgsV","jt6O4","537hy","dOzNa","\/dMvH","MLreI","Y73nc","bdK5a","VPFOJ","DlMTa","wI+P6","AtxWD"],"module":true},"Form":{"resources":["wodQL","\/dMvH"],"module":true},"SpotlightShareViewer":{"resources":["wodQL","nc0Og","MLreI","zyFOp"],"module":true},"Toggler":{"resources":["wodQL","\/dMvH","nc0Og","537hy"],"module":true},"Tooltip":{"resources":["wodQL","nc0Og","\/dMvH","537hy"],"module":true},"DOM":{"resources":["wodQL"],"module":true},"Input":{"resources":["wodQL","\/dMvH"],"module":true},"trackReferrer":{"resources":[],"module":true},"DimensionTracking":{"resources":["wodQL","d7V4X"],"module":true},"HighContrastMode":{"resources":["wodQL","SXC1F","d7V4X"],"module":true},"DetectBrokenProxyCache":{"resources":["wodQL","d7V4X"],"module":true}});}});
         requireLazy(["ix"], function(ix) {ix.add({"arrow-right:white:small":{"sprited":true,"spriteMapCssClass":"sp_PXcJGAbOOru","spriteCssClass":"sx_a3b1af"}});});
      </script>
      <script>requireLazy(["InitialJSLoader"], function(InitialJSLoader) {InitialJSLoader.loadOnDOMContentReady(["JlM1u","wodQL","nc0Og","t8nV7","4vv8\/","FvUl7","5lV\/Y"]);});</script>
      <script>(require("ServerJSDefine")).handleDefines([]);require("InitialJSLoader").handleServerJS({"elements":[["m_0_2","login_form",2],["m_0_3","loginbutton",2],["m_0_0","u_0_1",2],["m_0_1","u_0_2",2],["m_0_4","login_form",2]],"require":[["PixelRatio","startDetecting",[],[1]],["Intl","setPhonologicalRules",[],[{"meta":{"\/_B\/":"([.,!?\\s]|^)","\/_E\/":"([.,!?\\s]|$)"},"patterns":{"\/\u0001(.*)('|&#039;)s\u0001(?:'|&#039;)s(.*)\/":"\u0001$1$2s\u0001$3","\/_\u0001([^\u0001]*)\u0001\/e":"mb_strtolower(\"\u0001$1\u0001\")","\/\\^\\x01([^\\x01])(?=[^\\x01]*\\x01)\/e":"mb_strtoupper(\"\u0001$1\")","\/_\u0001([^\u0001]*)\u0001\/":"javascript"}}]],["PostLoadJS","loadAndRequire",[],["DimensionTracking"]],["PostLoadJS","loadAndCall",[],["HighContrastMode","init",[{"isHCM":false,"spacerImage":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/y4\/r\/-PAXP-deijE.gif"}]]],["PostLoadJS","loadAndCall",[],["DetectBrokenProxyCache","run",[0,"c_user"]]],["ClickRefLogger"],["ScriptPath","set",[],["\/photo.php","426d1055",{"imp_id":"f245b8ae"}]],["UserActionHistory"],["ScriptPathLogger","startLogging",[],[]],["TimeSpentBitArrayLogger","init",[],[]],["NavigationClickPointHandler"],["UITinyViewportAction","init",[],[{"height":0}]],["WebStorageMonster","schedule",[],[false]],["AsyncRequestNectarLogging"],["TimezoneAutoset","setInputValue",["m_0_0"],[{"__m":"m_0_0"},1436236949]],["ScreenDimensionsAutoSet","setInputValue",["m_0_1"],[{"__m":"m_0_1"}]],["LoginFormController","init",["m_0_2","m_0_3"],[{"__m":"m_0_2"},{"__m":"m_0_3"},null]],["PostLoadJS","loadAndCall",[],["QuickSandSolver","solveAndUpdateForm",[1,"+bba?\u0013??I\u0012?\n+?NY?EmL???J?JN?\u0015V?",10,42,100,"login_form","AZlEpQzKP8VxCYY2QKPGX7fhGc8SsSOMYJ8FWLze0Tvefxtfm4cCpS-YmKOOyAuU97MBGbXgNqniUapyB5kyNkF32LVudvBdwrmouDcBbDnXT-G_7arndxWIe-M6gGPu_wc3w0PRmVbtsqeepsxlUWldjYPVo1quacb8Ba5h3Fq3WyvtvB_amS9bVBLVKfBv1Vw_KlM8EDKU7MKE1f0vjFbOs_saf0lv_M3CCW5hhGlsVg"]]],["FocusListener"],["FlipDirectionOnKeypress"],["Artillery"],["NavigationMetrics","setPage",[],[{"page":"\/photo.php","page_type":"normal","page_uri":"https:\/\/www.facebook.com\/photo.php?"}]],["ModuleErrorLogger","init",[],[]]]});
         onloadRegister_DEPRECATED(function (){try { $("email").focus(); } catch (_ignore) { }});
      </script>
      <!-- BigPipe construction and first response -->
      <script>var bigPipe = new (require("BigPipe"))({"lid":"0","forceFinish":true});</script>
      <script>bigPipe.beforePageletArrive("first_response")</script>
      <script>require("TimeSlice").guard(function() {bigPipe.onPageletArrive({"id":"first_response","phase":0,"jsmods":{"require":[["Cookie","setIfFirstPartyContext",[],["reg_ext_ref","",0,"\/",".facebook.com",false]],["Cookie","setIfFirstPartyContext",[],["_js_reg_fb_ref","https:\/\/www.facebook.com\/photo.php",0,"\/",".facebook.com",false]]]},"is_last":true,"css":["gfX4X","\/dMvH","mPJQO","\/MkcI","537hy"],"ixData":{"arrow-right:white:small":{"sprited":true,"spriteMapCssClass":"sp_PXcJGAbOOru","spriteCssClass":"sx_a3b1af"}},"js":["JlM1u","wodQL","nc0Og","t8nV7","4vv8\/","FvUl7","5lV\/Y"]});}, "onPageletArrive first_response")();</script><script>bigPipe.beforePageletArrive("last_response")</script>
      <script>require("TimeSlice").guard(function() {bigPipe.onPageletArrive({"id":"last_response","phase":1,"jsmods":{"define":[["TimeSpentConfig",[],{"0_delay":0,"0_timeout":8,"delay":200000,"timeout":64},142],["ImmediateActiveSecondsConfig",[],{"sampling_rate":0},423]]},"is_last":true,"css":["gfX4X","\/dMvH","mPJQO","\/MkcI","537hy"],"js":["JlM1u","wodQL","nc0Og","t8nV7","4vv8\/","FvUl7","5lV\/Y"],"the_end":true});}, "onPageletArrive last_response")();</script>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
   </body>
</html>

